body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, img, div, input, span,
a, dl, dt, dd, em, th, tr, td,section{margin: 0;padding: 0;}
body {font-size:14px;color: #333333;font-family:  "Arial", "Microsoft YaHei", "宋体", sans-serif;}
body{width:100%;background: #fff;}
h2, h3, h4, h5, p, a {font-weight: normal;}
img {border: none;}
ul, ol, li {list-style: none;vertical-align: top;}
input, select, textarea {outline: none;} /*火狐有边框*/
textarea {resize: none;}
a {text-decoration: none;color: #666;}
em, i {font-style: normal;}
.left{float: left;}
.right{float: right;}
/*清除浮动*/
.clear:after {content: '';display: block;clear: both;}
.clear {zoom: 1;}

html,body {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}